@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Gilroy-Regular', sans-serif;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input:focus::-webkit-input-placeholder {
  font-size: 0;
}

input:focus::-moz-placeholder {
  font-size: 0;
}

input:focus:-ms-input-placeholder {
  font-size: 0;
}

input:focus::-ms-input-placeholder {
  font-size: 0;
}

input:focus::placeholder {
  font-size: 0;
}

.header {
  position: relative;
  z-index: 2;
}

.header__wrapper {
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 230px;
      -ms-flex: 0 1 230px;
          flex: 0 1 230px;
}

.header__logo img {
  max-width: 100%;
}

.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.links__item {
  height: 43px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 9px;
  margin-right: 9px;
  border: 1px solid #fff;
  border-radius: 6px;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  opacity: 0;
}

.links__item.active {
  opacity: 1;
}

.links__item:last-child {
  margin-right: 0;
}

.links__item_1 {
  -webkit-transition-delay: 1.3s;
       -o-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.links__item_2 {
  -webkit-transition-delay: 1.6s;
       -o-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.links__item-box {
  max-width: 93px;
}

.links__item-text {
  color: #fff;
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 10px;
  line-height: 12px;
}

.links__item-img {
  max-width: 100%;
  display: block;
}

.hero {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.hero__wrapper {
  position: relative;
  z-index: 2;
  padding-top: 130px;
}

.hero__img {
  z-index: 1;
  position: absolute;
  right: 225px;
  bottom: 0;
  pointer-events: none;
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: all .8s ease .3s;
  -o-transition: all .8s ease .3s;
  transition: all .8s ease .3s;
}

.hero__img.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.hero__img img {
  max-width: 100%;
  display: block;
}

.hero__shadows {
  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  bottom: 0;
  left: 0;
  min-width: 100%;
}

.hero__shadows-img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.hero__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 30px;
  max-width: 685px;
  -webkit-transform: translateX(-300%);
      -ms-transform: translateX(-300%);
          transform: translateX(-300%);
  -webkit-transition: all .8s ease .3s;
  -o-transition: all .8s ease .3s;
  transition: all .8s ease .3s;
}

.hero__text.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.hero__text-img img {
  max-width: 100%;
  display: block;
}

.hero__text-img_1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 223px;
      -ms-flex: 0 1 223px;
          flex: 0 1 223px;
  padding-top: 8.5px;
}

.hero__text-img_2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 408px;
      -ms-flex: 0 1 408px;
          flex: 0 1 408px;
}

.hero__text-img_3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 685px;
      -ms-flex: 0 1 685px;
          flex: 0 1 685px;
  margin-top: -20px;
}

.hero__box {
  opacity: 0;
  -webkit-transition: all .8s ease 1s;
  -o-transition: all .8s ease 1s;
  transition: all .8s ease 1s;
}

.hero__box .links {
  display: none;
}

.hero__box.active {
  opacity: 1;
}

.hero__button {
  display: inline-block;
  margin: 0 0 9px 100px;
}

.hero__button img {
  max-width: 100%;
  display: block;
}

.hero__contacts {
  margin-left: 155px;
}

.hero__trigger {
  max-width: 30px;
  margin: 65px 0 0 271px;
  -webkit-animation: triggerJump 1s linear infinite alternate;
          animation: triggerJump 1s linear infinite alternate;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all .8s ease 1s;
  -o-transition: all .8s ease 1s;
  transition: all .8s ease 1s;
}

.hero__trigger.active {
  opacity: 1;
}

.hero__trigger-img {
  display: block;
  max-width: 100%;
}

.hero__trigger-img_1 {
  display: block;
}

.hero__trigger-img_2 {
  display: none;
}

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.contacts__tel {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30px;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  margin-bottom: 13px;
  padding-left: 42px;
  position: relative;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-style: italic;
  font-family: "Gilroy-Semibold", sans-serif;
  max-width: 310px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.contacts__tel::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  width: 24px;
  height: 24px;
  background-image: url(../img/hero/phone.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__telegram {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 36px;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  padding-left: 50px;
  position: relative;
  font-family: "Gilroy-Medium", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 210px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
}

.contacts__telegram span {
  font-family: "Gilroy-Semibold", sans-serif;
  font-size: 16px;
  position: relative;
}

.contacts__telegram span::before {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.contacts__telegram::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  width: 26px;
  height: 22px;
  background-image: url(../img/hero/telegram.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@-webkit-keyframes triggerJump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes triggerJump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.about {
  overflow: hidden;
}

.about__wrapper {
  padding: 120px 0;
}

.about__rows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__row-partners {
  margin-bottom: 53px;
}

.about__row-experience {
  margin-bottom: 72px;
}

.about-partners {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 260px;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
  padding: 0 60px;
}

.about-partners__img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.about-partners__img img {
  max-width: 100%;
  display: block;
}

.about-partners__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 500px;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin-left: auto;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-family: "Gilroy-Medium", sans-serif;
  position: relative;
  z-index: 2;
}

.about-partners__text_mob {
  display: none;
}

.about-partners__text span {
  font-family: "Gilroy-Bold", sans-serif;
}

.about-partners__text p {
  margin: 0;
}

.about-experience {
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 260px;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
  padding: 0 80px;
  overflow: hidden;
  border: 1px solid #0A9F30;
}

.about-experience__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 500px;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  color: #333333;
  font-size: 16px;
  line-height: 30px;
  font-family: "Gilroy-Medium", sans-serif;
  position: relative;
  z-index: 2;
}

.about-experience__text p {
  margin: 0;
}

.about-experience_img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.about-experience_img img {
  max-width: 100%;
  display: block;
}

.about-advantages {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 345px;
      -ms-flex: 0 1 345px;
          flex: 0 1 345px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.about-advantages__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-advantages__column {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 580px;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
}

.about-advantages__column:first-child {
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-advantages__title {
  color: #F2F2F2;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  font-size: 32px;
  line-height: 36px;
  max-width: 280px;
  position: relative;
  z-index: 2;
  font-family: "Gilroy-Semibold", sans-serif;
}

.about-advantages__img {
  position: absolute;
  left: -20px;
  bottom: 1px;
  z-index: 1;
  width: 625px;
  pointer-events: none;
}

.about-advantages__img img {
  max-width: 100%;
  display: block;
}

.about-advantages__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.about-advantages__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 180px;
      -ms-flex: 0 1 180px;
          flex: 0 1 180px;
  max-height: 161px;
  padding: 22px 10px 19px 23px;
  border: 1px solid #0A9F30;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 30px rgba(10, 159, 48, 0.1);
          box-shadow: 0px 4px 30px rgba(10, 159, 48, 0.1);
}

.about-advantages__item svg {
  margin-bottom: 18px;
  width: 31px;
  height: 31px;
}

.about-advantages__item_1 {
  margin-bottom: 13px;
}

.about-advantages__item_2 {
  margin-bottom: 13px;
}

.about-advantages__item_3 {
  margin-bottom: 13px;
}

.about-advantages__item:hover {
  background: -o-linear-gradient(146.59deg, #0A5E1F -2.34%, #0A9F30 120.65%);
  background: linear-gradient(303.41deg, #0A5E1F -2.34%, #0A9F30 120.65%);
}

.about-advantages__item:hover svg path {
  fill: #fff;
}

.about-advantages__item:hover .about-advantages__item-text {
  color: #fff;
}

.about-advantages__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  font-family: "Gilroy-Bold", sans-serif;
}

.about-advantages__item-text p {
  margin: 0;
}

.vacancies {
  padding: 0 0 110px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.vacancies__title {
  font-size: 35px;
  line-height: 42px;
  color: #333333;
  font-family: "Gilroy-Semibold", sans-serif;
  margin-bottom: 56px;
}

.vacancies__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vacancies__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 380px;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vacancies__column_md {
  display: none;
}

.vacancies__item {
  margin-bottom: 28px;
}

.vacancies__item:last-child {
  margin-bottom: 0;
}

.item-vacancies {
  max-width: 380px;
  background: -o-linear-gradient(297.92deg, #FFFFFF -6.99%, #FFFFFF 122.31%);
  background: linear-gradient(152.08deg, #FFFFFF -6.99%, #FFFFFF 122.31%);
  -webkit-box-shadow: 0px 4px 50px rgba(10, 159, 48, 0.3);
          box-shadow: 0px 4px 50px rgba(10, 159, 48, 0.3);
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #0A9F30;
}

.item-vacancies.active .item-vacancies__content {
  display: block;
}

.item-vacancies__header {
  background-color: #0A9F30;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.item-vacancies__icon {
  margin-right: 22px;
  position: relative;
  width: 40px;
  height: 53px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item-vacancies__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.item-vacancies__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-family: "Gilroy-Bold", sans-serif;
}

.item-vacancies__title p {
  margin: 0;
}

.item-vacancies__content {
  padding: 30px 20px 44px 32px;
}

.item-vacancies__tech {
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  padding-left: 45px;
  position: relative;
  margin-bottom: 20px;
  font-family: "Gilroy-Bold", sans-serif;
}

.item-vacancies__tech::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 19px;
  background-image: url(../img/vacancies/tag.svg);
}

.item-vacancies__tech-list {
  margin-bottom: 35px;
}

.item-vacancies__btn {
  height: 38px;
  background: rgba(10, 159, 48, 0.2);
  border: 1px solid #0A9F30;
  border-radius: 10px;
  font-size: 18px;
  line-height: 22px;
  color: #0A9F30;
  max-width: 197px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Gilroy-Bold", sans-serif;
}

.item-vacancies__info {
  background: -o-linear-gradient(297.92deg, #FFFFFF -6.99%, #FFFFFF 122.31%);
  background: linear-gradient(152.08deg, #FFFFFF -6.99%, #FFFFFF 122.31%);
  -webkit-box-shadow: 0px 4px 50px rgba(10, 159, 48, 0.3);
          box-shadow: 0px 4px 50px rgba(10, 159, 48, 0.3);
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 256px;
}

.item-vacancies__info-quotes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.item-vacancies__info-quotes img {
  position: absolute;
}

.item-vacancies__info-quotes img:first-child {
  top: 12px;
  left: 14px;
}

.item-vacancies__info-quotes img:last-child {
  bottom: 21px;
  right: 25px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.item-vacancies__info-text {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  max-width: 195px;
  margin-bottom: 13px;
}

.item-vacancies__info-item {
  margin-bottom: 9px;
}

.item-vacancies__info-item:last-child {
  margin-bottom: 0;
}

.item-vacancies__info-label {
  color: #0A9F30;
  font-family: "Gilroy-Bold", sans-serif;
  margin-bottom: 5px;
}

.item-vacancies__info-tel {
  color: #000;
  font-size: 18px;
  display: block;
  padding-left: 20px;
  font-family: "Gilroy-Bold", sans-serif;
  position: relative;
}

.item-vacancies__info-tel::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 13px;
  left: 0;
  top: 3px;
  background-image: url(../img/vacancies/tel.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item-vacancies__info-mail {
  color: #000;
  font-size: 16px;
  display: block;
  padding-left: 20px;
  font-family: "Gilroy-Bold", sans-serif;
  position: relative;
}

.item-vacancies__info-mail::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 11px;
  left: 0;
  top: 4px;
  background-image: url(../img/vacancies/email.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item-vacancies__copy {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #0A9F30;
}

.item-vacancies__copy p {
  margin: 0;
}

.tech-list {
  max-width: 275px;
}

.tech-list__item {
  font-size: 18px;
  line-height: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

@media (max-width: 1830px) {
  .hero__img {
    right: 30px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 970px;
  }

  .header__wrapper {
    height: 125px;
  }

  .header__logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 183px;
        -ms-flex: 0 1 183px;
            flex: 0 1 183px;
  }

  .links__item-box {
    max-width: 85px;
  }

  .hero__wrapper {
    padding-top: 60px;
  }

  .hero__img {
    max-width: 633px;
    right: 100px;
  }

  .hero__text {
    max-width: 475px;
    margin-bottom: 10px;
  }

  .hero__text-img_1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 155px;
        -ms-flex: 0 1 155px;
            flex: 0 1 155px;
  }

  .hero__text-img_2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 283px;
        -ms-flex: 0 1 283px;
            flex: 0 1 283px;
    margin-left: auto;
  }

  .hero__text-img_3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 475px;
        -ms-flex: 0 1 475px;
            flex: 0 1 475px;
  }

  .hero__button {
    max-width: 290px;
    margin: 0 0 9px 86px;
  }

  .hero__contacts {
    margin-left: 120px;
  }

  .hero__trigger {
    margin: 40px 0 0 217px;
  }

  .contacts__tel {
    font-size: 25px;
    line-height: 30px;
  }

  .contacts__tel::before {
    width: 22px;
    height: 22px;
  }

  .contacts__telegram {
    font-size: 12px;
    line-height: 14px;
  }

  .contacts__telegram::before {
    width: 25px;
    height: 22px;
  }

  .about__wrapper {
    padding: 70px 0 100px;
  }

  .about__row-experience {
    margin-bottom: 50px;
  }

  .about-partners {
    padding: 0 45px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 230px;
        -ms-flex: 0 1 230px;
            flex: 0 1 230px;
  }

  .about-partners__img {
    max-width: 640px;
    left: -20px;
  }

  .about-partners__text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 438px;
        -ms-flex: 0 1 438px;
            flex: 0 1 438px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-experience {
    padding: 0 60px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 230px;
        -ms-flex: 0 1 230px;
            flex: 0 1 230px;
    background-position: 300px center;
  }

  .about-experience__text {
    font-size: 14px;
    line-height: 28px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 407px;
        -ms-flex: 0 1 407px;
            flex: 0 1 407px;
  }

  .about-experience_img {
    max-width: 525px;
  }

  .about-advantages {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 265px;
        -ms-flex: 0 1 265px;
            flex: 0 1 265px;
  }

  .about-advantages__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 460px;
        -ms-flex: 0 1 460px;
            flex: 0 1 460px;
  }

  .about-advantages__column:first-child {
    padding: 25px;
  }

  .about-advantages__title {
    font-size: 26px;
    line-height: 30px;
    max-width: 200px;
  }

  .about-advantages__img {
    max-width: 511px;
    left: -30px;
  }

  .about-advantages__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 140px;
        -ms-flex: 0 1 140px;
            flex: 0 1 140px;
    padding: 15px 5px 14px 12px;
    max-height: 127px;
  }

  .about-advantages__item svg {
    height: 26px;
    width: 26px;
    margin-bottom: 8px;
  }

  .about-advantages__item-text {
    font-size: 12px;
    line-height: 15px;
  }

  .vacancies {
    background-size: 1400px;
  }

  .vacancies__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 300px;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
  }

  .item-vacancies {
    max-width: 300px;
    width: 100%;
  }

  .item-vacancies__content {
    padding: 28px 20px 37px 33px;
  }

  .item-vacancies__tech {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 1279px) {
  .hero__img {
    right: 40px;
  }
}

@media (max-width: 1023px) {
  .header__wrapper {
    height: 140px;
  }

  .hero {
    background-image: url(../img/hero/hero-bg-768.jpg) !important;
  }

  .hero .container {
    max-width: 590px;
  }

  .hero__wrapper {
    padding-top: 10px;
  }

  .hero__img {
    right: 50%;
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%);
    width: 700px;
  }

  .hero__img.active {
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .hero__content {
    height: 81vh;
  }

  .hero__text {
    margin: 0 auto;
    max-width: 555px;
  }

  .hero__text-img_1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 180px;
        -ms-flex: 0 1 180px;
            flex: 0 1 180px;
  }

  .hero__text-img_2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 330px;
        -ms-flex: 0 1 330px;
            flex: 0 1 330px;
  }

  .hero__text-img_3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 554px;
        -ms-flex: 0 1 554px;
            flex: 0 1 554px;
  }

  .hero__box {
    margin-top: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__button {
    margin: 0;
  }

  .hero__contacts {
    margin: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: 33px;
  }

  .hero__trigger {
    margin: 30px auto 0;
  }

  .hero__trigger-img_1 {
    display: none;
  }

  .hero__trigger-img_2 {
    display: block;
  }
}

@media (max-width: 990px) {
  .about .container {
    max-width: 770px;
    padding: 0 25px;
  }

  .about__wrapper {
    padding: 40px 0 60px;
  }

  .about__row-partners {
    margin-bottom: 21px;
  }

  .about__row-experience {
    margin-bottom: 35px;
  }

  .about-partners {
    padding: 0 35px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 195px;
        -ms-flex: 0 1 195px;
            flex: 0 1 195px;
  }

  .about-partners__img {
    max-width: 535px;
    left: -63px;
  }

  .about-partners__text {
    font-size: 13px;
    line-height: 22px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 340px;
        -ms-flex: 0 1 340px;
            flex: 0 1 340px;
  }

  .about-experience {
    padding: 0 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 200px;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    background-position: 170px center;
  }

  .about-experience__text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 268px;
        -ms-flex: 0 1 268px;
            flex: 0 1 268px;
  }

  .about-experience_img {
    max-width: 456px;
    right: -85px;
  }

  .about-advantages {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 249px;
        -ms-flex: 0 1 249px;
            flex: 0 1 249px;
  }

  .about-advantages__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 410px;
        -ms-flex: 0 1 410px;
            flex: 0 1 410px;
  }

  .about-advantages__column:first-child {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 290px;
        -ms-flex: 0 1 290px;
            flex: 0 1 290px;
    padding: 20 32px;
  }

  .about-advantages__title {
    font-size: 22px;
    line-height: 25px;
  }

  .about-advantages__img {
    max-width: 461px;
    left: -95px;
  }

  .about-advantages__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 130px;
        -ms-flex: 0 1 130px;
            flex: 0 1 130px;
    padding: 14px 10px 10px 12px;
    max-height: 118px;
  }

  .about-advantages__item svg {
    height: 24px;
    width: 24px;
    margin-bottom: 5px;
  }

  .about-advantages__item-text {
    font-size: 10px;
  }

  .vacancies .container {
    max-width: 636px;
    padding: 0 25px;
  }

  .vacancies__columns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .vacancies__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 290px;
        -ms-flex: 0 1 290px;
            flex: 0 1 290px;
    display: none;
  }

  .vacancies__column_md {
    display: block;
    margin-right: 5px;
  }

  .vacancies__column_md .item-vacancies__copy {
    bottom: 25px;
  }

  .vacancies__column_md:last-child {
    margin-right: 0;
  }

  .vacancies__column_md:last-child .item-vacancies__copy {
    display: none;
  }

  .item-vacancies {
    max-width: 290px;
  }

  .item-vacancies__copy {
    text-align: left;
    right: auto;
    left: 0;
  }
}

@media (max-width: 768px) {
  .hero__shadows {
    display: block;
  }

  .hero__shadows-img_1 {
    display: block;
  }

  .hero__shadows-img_2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 25px;
  }

  .about__wrapper {
    padding: 45px 0;
  }

  .about__row-partners {
    margin-bottom: 50px;
  }

  .about-partners {
    background-image: none !important;
    padding: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .about-partners__img {
    display: none;
  }

  .about-partners__text {
    font-size: 13px;
    line-height: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333;
    display: none;
  }

  .about-partners__text_mob {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .about-experience {
    display: none;
  }

  .about-advantages {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .about-advantages__columns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-advantages__column:first-child {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 300px;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    min-height: 220px;
    margin-bottom: 20px;
  }

  .about-advantages__img {
    max-width: 440px;
    left: -80px;
  }
}

@media (max-width: 640px) {
  .vacancies__columns {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .vacancies__column_md .item-vacancies__copy {
    display: none;
  }

  .vacancies__column_md:last-child .item-vacancies__copy {
    display: block;
    bottom: -60px;
    font-size: 12px;
    line-height: 14px;
    -webkit-transform: translateX(15%);
        -ms-transform: translateX(15%);
            transform: translateX(15%);
  }
}

@media (max-width: 440px) {
  .about-advantages__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-advantages__column:first-child {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 280px;
        -ms-flex: 0 1 280px;
            flex: 0 1 280px;
    padding: 7px 20px;
    min-height: 185px;
    margin: 0 0 40px 0;
  }

  .about-advantages__img {
    max-width: 400px;
    left: -70px;
  }

  .about-advantages__items {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 280px;
        -ms-flex: 0 1 280px;
            flex: 0 1 280px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-advantages__item_1 {
    margin-bottom: 15px;
  }

  .about-advantages__item_2 {
    margin-bottom: 15px;
  }

  .about-advantages__item_3 {
    margin-bottom: 15px;
  }

  .about-advantages__item_4 {
    margin-bottom: 15px;
  }

  .about-advantages__item:nth-child(odd) {
    margin-right: 8px;
  }
}

@media (max-width: 425px) {
  .header__wrapper {
    height: 100px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 180px;
        -ms-flex: 0 1 180px;
            flex: 0 1 180px;
  }

  .links {
    display: none;
  }

  .hero__wrapper {
    padding-top: 30px;
  }

  .hero__img {
    max-width: 320px;
    bottom: auto;
    top: 28%;
  }

  .hero__shadows-img_1 {
    display: none;
  }

  .hero__shadows-img_2 {
    display: block;
  }

  .hero__content {
    min-height: 520px;
  }

  .hero__text {
    max-width: 205px;
  }

  .hero__text-img_1 {
    display: none;
  }

  .hero__text-img_3 {
    margin-top: -5px;
  }

  .hero__box .links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 26px;
  }

  .hero__box .links__item {
    padding: 0 24px;
    background-color: #000;
  }

  .hero__contacts {
    margin: 0;
  }

  .hero__trigger {
    margin: 10px auto 0;
  }

  .vacancies__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 270px;
        -ms-flex: 0 1 270px;
            flex: 0 1 270px;
  }

  .vacancies__column_md:last-child .item-vacancies__copy {
    -webkit-transform: translateX(10%);
        -ms-transform: translateX(10%);
            transform: translateX(10%);
  }

  .item-vacancies {
    max-width: 270px;
  }

  .item-vacancies__content {
    padding: 23px 20px 40px 23px;
    display: none;
  }

  .item-vacancies__tech {
    font-size: 16px;
    line-height: 19px;
  }

  .item-vacancies__tech-list {
    margin-bottom: 30px;
  }

  .item-vacancies__info-label {
    font-size: 12px;
  }

  .item-vacancies__info-tel {
    font-size: 14px;
  }

  .item-vacancies__info-mail {
    font-size: 12px;
  }
}

@media (max-height: 567px) {
  .hero__img {
    display: none;
  }
}