html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
	height: 100%;
}
body {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Gilroy-Regular', sans-serif;
    &.lock {
        overflow: hidden;
    }
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 1440px) {
        max-width: 970px;
    }
    @media (max-width: 767px) {
        max-width: 100%;
        padding: 0 25px;
    }
}

button {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-ms-clear { 
    display: none; 
}

input {
    &:focus {
        &::placeholder {
            font-size: 0;
        }
    }
}