<section class="hero" style="background-image: url(./img/hero/hero-bg.jpg);">
  <div class="container">
    <header class="header">
      <div class="header__wrapper">
        <a href="#" class="header__logo">
          <img src="./img/hero/logo.svg" alt="">
        </a>

        <div class="header__links links">
          <a href="" class="links__item links__item_1 anim-item anim-no-hide">
            <div class="links__item-box">
              <div class="links__item-text">Вакансии</div>
              <img class="links__item-img" src="./img/hero/tutby.png" alt="">
            </div>
          </a>
          <a href="" class="links__item links__item_2 anim-item anim-no-hide">
            <div class="links__item-box">
              <div class="links__item-text">Вакансии</div>
              <img class="links__item-img" src="./img/hero/linkedin.png" alt="">
            </div>
          </a>
        </div>
      </div>
    </header>

    <div class="hero__img anim-item anim-no-hide">
      <img src="./img/hero/programmer.png" alt="">
    </div>

    <div class="hero__shadows">
      <img class="hero__shadows-img hero__shadows-img_1" src="./img/hero/shadow-768.png" alt="">
      <img class="hero__shadows-img hero__shadows-img_2" src="./img/hero/shadow-320.png" alt="">
    </div>

    <div class="hero__wrapper">

      <div class="hero__content">
        <div class="hero__text anim-item anim-no-hide">
          <div class="hero__text-img hero__text-img_1">
            <img src="./img/hero/hero-text1.svg" alt="">
          </div>
          <div class="hero__text-img hero__text-img_2">
            <img src="./img/hero/hero-text2.svg" alt="">
          </div>
          <div class="hero__text-img hero__text-img_3">
            <img src="./img/hero/hero-text3.svg" alt="">
          </div>
        </div>
        <div class="hero__box anim-item anim-no-hide">
          <a href="#" class="hero__button">
            <img src="./img/hero/vacancy.svg" alt="">
          </a>
          <div class="links">
            <a href="" class="links__item links__item_1 anim-item anim-no-hide">
              <div class="links__item-box">
                <div class="links__item-text">Вакансии</div>
                <img class="links__item-img" src="./img/hero/tutby.png" alt="">
              </div>
            </a>
            <a href="" class="links__item links__item_2 anim-item anim-no-hide">
              <div class="links__item-box">
                <div class="links__item-text">Вакансии</div>
                <img class="links__item-img" src="./img/hero/linkedin.png" alt="">
              </div>
            </a>
          </div>
          <div class="hero__contacts contacts">
            <a href="tel:375293967363" class="contacts__tel">
              +375 29 396 73 63
            </a>
            <div class="contacts__telegram">
              Пиши нам в телеграм
              <span>@valentina_meleshko</span>
            </div>
          </div>
        </div>
        <div class="hero__trigger anim-item anim-no-hide">
          <img class="hero__trigger-img hero__trigger-img_1" src="./img/hero/mouse.svg" alt="">
          <img class="hero__trigger-img hero__trigger-img_2" src="./img//hero/arrow.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>