<section class="vacancies" style="background-image: url(./img/vacancies/vacancies-bg.png);">
  <div class="container">
    <div class="vacancies__title">
      Вакансии
    </div>
    <div class="vacancies__columns">
      <div class="vacancies__column">
        <div class="vacancies__item item-vacancies item-vacancies_1">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon1.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              <p>Системный</p>
              <p>администратор:</p>
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - MWare vCloud;
              </li>
              <li class="tech-list__item">
                - DNS, Load Balancing, NAT, VPN;
              </li>
              <li class="tech-list__item">
                - MySQL и Memcached
                (Redis, KeyDB);
              </li>
              <li class="tech-list__item">
                - MongoDB;
              </li>
              <li class="tech-list__item">
                - администрирование NGINX.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>

        <div class="vacancies__item item-vacancies item-vacancies_2">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon4.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              Back-end developer
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - HTML5/SCSS,
                работа с анимацией;
              </li>
              <li class="tech-list__item">
                - PHP 7.0+;
              </li>
              <li class="tech-list__item">
                - Redis;
              </li>
              <li class="tech-list__item">
                - MariaDB (MySQL);
              </li>
              <li class="tech-list__item">
                - Phalcon 3.0+;
              </li>
              <li class="tech-list__item">
                - WebSocket;
              </li>
              <li class="tech-list__item">
                - RESTful API;
              </li>
              <li class="tech-list__item">
                - Docker;
              </li>
              <li class="tech-list__item">
                - HTTP-протокол;
              </li>
              <li class="tech-list__item">
                - Git;
              </li>
              <li class="tech-list__item">
                - Знание, понимание и
                использование
                на практике принципов DRY,
                KISS, SOLID, microservices.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>
      </div>

      <div class="vacancies__column">
        <div class="vacancies__item item-vacancies item-vacancies_3">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon2.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              Front-end developer
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - HTML5;
              </li>
              <li class="tech-list__item">
                - SASS / LESS;
              </li>
              <li class="tech-list__item">
                - ReactJS /Redux;
              </li>
              <li class="tech-list__item">
                - JavaScript, Git.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>

        <div class="vacancies__item item-vacancies item-vacancies__info">
          <div class="item-vacancies__info-quotes">
            <img src="./img/vacancies/quote.svg" alt="">
            <img src="./img/vacancies/quote.svg" alt="">
          </div>
          <div class="item-vacancies__info-wrapper">
            <div class="item-vacancies__info-text">
              Будем рады видеть вас
              в нашей команде
            </div>
            <div class="item-vacancies__info-item">
              <div class="item-vacancies__info-label">Валентина (HR менеджер)</div>
              <a href="tel:375293967363" class="item-vacancies__info-tel">
                +375 29 396 73 63
              </a>
            </div>
            <div class="item-vacancies__info-item">
              <div class="item-vacancies__info-label">Резюме можно присылать на почту:</div>
              <a href="mailto:meleshko.valentina@maxline.by" class="item-vacancies__info-mail">
                meleshko.valentina@maxline.by
              </a>
            </div>
          </div>
        </div>

        <div class="vacancies__item item-vacancies item-vacancies_4">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon5.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              HTML- верстальщик
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - HTML5/SCSS, работа с анимацией;
              </li>
              <li class="tech-list__item">
                - LESS/SASS;
              </li>
              <li class="tech-list__item">
                - Git;
              </li>
              <li class="tech-list__item">
                - GitHub;
              </li>
              <li class="tech-list__item">
                - Figma;
              </li>
              <li class="tech-list__item">
                - знать React или быть
                готовым изучить его.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>
      </div>

      <div class="vacancies__column">
        <div class="vacancies__item item-vacancies item-vacancies_5">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon5.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              Full-stack developer
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - PHP 7.0+;
              </li>
              <li class="tech-list__item">
                - Redis;
              </li>
              <li class="tech-list__item">
                - MariaDB (MySQL);
              </li>
              <li class="tech-list__item">
                - Phalcon 3.0+;
              </li>
              <li class="tech-list__item">
                - HTML 5.0;
              </li>
              <li class="tech-list__item">
                - SASS / LESS;
              </li>
              <li class="tech-list__item">
                - ReactJS /Redux;
              </li>
              <li class="tech-list__item">
                - JavaScript, Git;
              </li>
              <li class="tech-list__item">
                - WebSocket;
              </li>
              <li class="tech-list__item">
                - RESTful API;
              </li>
              <li class="tech-list__item">
                - Docker;
              </li>
              <li class="tech-list__item">
                - HTTP-протокол;
              </li>
              <li class="tech-list__item">
                - Знание, понимание
                и использование на практике
                принципов DRY, KISS, SOLID,
                microservices.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>

        <div class="item-vacancies__copy">
          <p>© 2020 Букмекерская компания Maxline.</p>
          <p>Все права защищены</p>
        </div>
      </div>

      <div class="vacancies__column vacancies__column_md">
        <div class="vacancies__item item-vacancies item-vacancies_1">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon1.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              <p>Системный</p>
              <p>администратор:</p>
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - MWare vCloud;
              </li>
              <li class="tech-list__item">
                - DNS, Load Balancing, NAT, VPN;
              </li>
              <li class="tech-list__item">
                - MySQL и Memcached
                (Redis, KeyDB);
              </li>
              <li class="tech-list__item">
                - MongoDB;
              </li>
              <li class="tech-list__item">
                - администрирование NGINX.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>

        <div class="vacancies__item item-vacancies item-vacancies__info">
          <div class="item-vacancies__info-quotes">
            <img src="./img/vacancies/quote.svg" alt="">
            <img src="./img/vacancies/quote.svg" alt="">
          </div>
          <div class="item-vacancies__info-wrapper">
            <div class="item-vacancies__info-text">
              Будем рады видеть вас
              в нашей команде
            </div>
            <div class="item-vacancies__info-item">
              <div class="item-vacancies__info-label">Валентина (HR менеджер)</div>
              <a href="tel:375293967363" class="item-vacancies__info-tel">
                +375 29 396 73 63
              </a>
            </div>
            <div class="item-vacancies__info-item">
              <div class="item-vacancies__info-label">Резюме можно присылать на почту:</div>
              <a href="mailto:meleshko.valentina@maxline.by" class="item-vacancies__info-mail">
                meleshko.valentina@maxline.by
              </a>
            </div>
          </div>
        </div>

        <div class="vacancies__item item-vacancies item-vacancies_2">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon4.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              Back-end developer
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - HTML5/SCSS,
                работа с анимацией;
              </li>
              <li class="tech-list__item">
                - PHP 7.0+;
              </li>
              <li class="tech-list__item">
                - Redis;
              </li>
              <li class="tech-list__item">
                - MariaDB (MySQL);
              </li>
              <li class="tech-list__item">
                - Phalcon 3.0+;
              </li>
              <li class="tech-list__item">
                - WebSocket;
              </li>
              <li class="tech-list__item">
                - RESTful API;
              </li>
              <li class="tech-list__item">
                - Docker;
              </li>
              <li class="tech-list__item">
                - HTTP-протокол;
              </li>
              <li class="tech-list__item">
                - Git;
              </li>
              <li class="tech-list__item">
                - Знание, понимание и
                использование
                на практике принципов DRY,
                KISS, SOLID, microservices.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>

        <div class="item-vacancies__copy">
          <p>© 2020 Букмекерская компания Maxline.</p>
          <p>Все права защищены</p>
        </div>

      </div>

      <div class="vacancies__column vacancies__column_md">
        <div class="vacancies__item item-vacancies item-vacancies_3">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon2.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              Front-end developer
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - HTML5;
              </li>
              <li class="tech-list__item">
                - SASS / LESS;
              </li>
              <li class="tech-list__item">
                - ReactJS /Redux;
              </li>
              <li class="tech-list__item">
                - JavaScript, Git.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>

        <div class="vacancies__item item-vacancies item-vacancies_5">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon5.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              Full-stack developer
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - PHP 7.0+;
              </li>
              <li class="tech-list__item">
                - Redis;
              </li>
              <li class="tech-list__item">
                - MariaDB (MySQL);
              </li>
              <li class="tech-list__item">
                - Phalcon 3.0+;
              </li>
              <li class="tech-list__item">
                - HTML 5.0;
              </li>
              <li class="tech-list__item">
                - SASS / LESS;
              </li>
              <li class="tech-list__item">
                - ReactJS /Redux;
              </li>
              <li class="tech-list__item">
                - JavaScript, Git;
              </li>
              <li class="tech-list__item">
                - WebSocket;
              </li>
              <li class="tech-list__item">
                - RESTful API;
              </li>
              <li class="tech-list__item">
                - Docker;
              </li>
              <li class="tech-list__item">
                - HTTP-протокол;
              </li>
              <li class="tech-list__item">
                - Знание, понимание
                и использование на практике
                принципов DRY, KISS, SOLID,
                microservices.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>

        <div class="vacancies__item item-vacancies item-vacancies_4">
          <div class="item-vacancies__header">
            <div class="item-vacancies__icon" style="background-image: url(./img/vacancies/icon-form.svg);">
              <img src="./img/vacancies/icon5.svg" alt="">
            </div>
            <div class="item-vacancies__title">
              HTML- верстальщик
            </div>
          </div>
          <div class="item-vacancies__content">
            <div class="item-vacancies__tech">
              Технологии:
            </div>
            <ul class="item-vacancies__tech-list tech-list">
              <li class="tech-list__item">
                - HTML5/SCSS, работа с анимацией;
              </li>
              <li class="tech-list__item">
                - LESS/SASS;
              </li>
              <li class="tech-list__item">
                - Git;
              </li>
              <li class="tech-list__item">
                - GitHub;
              </li>
              <li class="tech-list__item">
                - Figma;
              </li>
              <li class="tech-list__item">
                - знать React или быть
                готовым изучить его.
              </li>
            </ul>
            <div class="item-vacancies__btn">
              Опыт: от 2-х лет
            </div>
          </div>
        </div>

        <div class="item-vacancies__copy">
          <p>© 2020 Букмекерская компания Maxline.</p>
          <p>Все права защищены</p>
        </div>
      </div>
    </div>
  </div>
</section>